<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Payment Service">
    <meta name="author" content="Daniel Martins">
    <title>Login</title>
    <link type="text/css" href="http://192.168.85.208/styles/static/login_page/css/login.css" rel="stylesheet">
    <script src="http://192.168.85.208/styles/static/login_page/js/request.js"></script>
</head>
<body>
    <div>
        <form class="form form--login framed" id="form">
            <h1 class="framed_login"> Payment Service </h1>
            <input name="user_id" placeholder="Username" class="input input--top" />
            <input name="pass" type="password" placeholder="Password" class="input" />
            <button id="login" class="input input--submit" style="text-align: center;">
                Login
            </button>
        </form>
    </div>

    <div class="photo-cred">
        <a class="text text--small">Login page created by <b>Daniel Martins</b></a>
    </div>
    <div class="fullscreen-bg"></div>
</body>
</html>